@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal:#FEAF1F;
    --sub-title-color:#777777;
    --btn-:#1877f2;
    --card-facebook:#1877f2;
    --login-title:#333333;
    --card-google:#ebebeb;
    --card-apple:#1e1e1e;
    --input-bcg:#D9D9D9;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

main {
    width: 35%;
    max-width:750px;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.logo{
    margin-top: 3em;
}

.btn-header svg{
    cursor: pointer;
}

.btn-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.btn-header button{
    background-color: transparent;
    border: none;
    margin-left: -20px;
}

.cadastro{
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(15px, 8%, 20px);
    
}

.cadastro svg{
    width: 70px;
}

.cadastro-title{
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p{
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: var(--sub-title-color);
    margin-bottom: 60px;
}

.cadastro-label{
    display: block;
    width: 100%;
}
.cadastro-label span{
    display: block;
    width: 100%;
    font-size:1em;
    font-weight: 500;
    color: black;
    margin-top: 7px;
    margin-bottom: 2px;
}

.input{
    width: 100%;
    background-color: var(--input-bcg);
    padding: 20px 5px;
    outline:none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 200;
    color: var(--login-title);
}

.btn-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}
.btn-area button{
   padding: 1.3em 1em;
   border-radius: 7px;
   border: none;
   background-color: var(--btn-);
   color: WHITE;
   font-weight: 600;
   font-size: 0.9em;
   line-height: 22px;
   letter-spacing: 0.085em;
   cursor: pointer;
}
.btn-area button:hover{
    transform:scale(1.1);
    transition: 200ms;
}


@media (max-width:1000px){
    body{
        background-image: none;
        display: flex;
        justify-content: center;
    }

    main{
        width: 100%;
    }

    svg{
        margin:none;
    }

    .btn-header{
        display: none;
    }
}
