@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal:#FEAF1F;
    --sub-title-color:#777777;
    --btn-:#1877f2;
    --card-facebook:#1877f2;
    --login-title:#333333;
    --card-google:#ebebeb;
    --card-apple:#1e1e1e;
    --input-bcg:#D9D9D9;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

main {
    width: 35%;
    max-width:750px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.login{
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(15px, 8%, 20px);
    
}

.login-logo{
    width: 100px;
    margin-top: 4em;
}

.login-title{
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.login-label{
    display: block;
    width: 100%;
}
.login-label span{
    display: block;
    width: 100%;
    font-size:1.1875em;
    font-weight: 500;
    color: black;
    margin-top: 7px;
    margin-bottom: 2px;
}

.input{
    width: 100%;
    background-color: var(--input-bcg);
    padding: 20px 5px;
    outline:none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--login-title);
}

.login-with{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    gap: 5px;
}

.login-with img{
    width: 30px;
}

.login-icons{
    width: 33.33%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: none;
    padding: 7px;   
}
.login-with button:nth-child(1){
    background-color: var(--card-facebook); 
    cursor: pointer;  
}
.login-with button:nth-child(2){
    background-color: var(--card-google);
    cursor: pointer;   
}
.login-with button:nth-child(3){
    background-color: var(--card-apple);
    cursor: pointer;  
}

.checkbox-label{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.btn-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}
.btn-area button{
   padding: 25px;
   border-radius: 20px;
   border: none;
   background-color: var(--btn-);
   cursor: pointer;
}
.btn-area button:hover{
    transform:scale(1.1);
    transition: 200ms;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    gap: 15px;
}

.footer a{
    text-decoration: none;
}

.footer span{
    font-size: 1.1875em;
    display: block;
    color: var(--sub-title-color);
}
.footer strong{
    color: var(--btn-);
}


@media (max-width:1000px){
    body{
        background-image: none;
        display: flex;
        justify-content: center;
    }

    main{
        width: 100%;
    }

    svg{
        margin:none;
    }
}
